<table class="table">
    <caption>Listado de clientes</caption>

    <!-- thead>tr>th*3 -->
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <!-- tbody>tr*2>(th+td+td) -->
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <th>{{cliente.id}}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellidos}}</td>
            <td>
                <a class="btn btn-primary" routerLink="/formulario/{{cliente.id}}">Editar</a>&nbsp;<a class="btn btn-danger" (click)="borrar(cliente.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<br />

<a class="btn btn-primary" routerLink="/formulario">Añadir</a>